<% include adminHeader.html %>
		<div class = 'content-sort'>
			<div class = 'content-sort-change'>-->  Index 页面设置</div>
			<div class = 'content-publish'>
				<a href = '/admin/adminIndex/content/addArtical'><span>添加文章</span></a>
			</div>
		</div>
		<div class = 'content-content'>
			<ul class = 'content-title'>
				<li>
					<span>ID</span>
				</li>
				<li>
					<span>文章标题</span>
				</li>
				<li>
					<span>文章分类</span>
				</li>
				<li>
					<span>置顶</span>
				</li>
				<li>
					<span>日期</span>
				</li>
				<li>
					<span>操作</span>
				</li>
				<li>
					<span>作者</span>
				</li>
			</ul>
		</div>
<% include adminFooter.html %>