<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script src = '/javascript/require.js' data-main = '/javascript/adminIndex/adminIndex.main'></script>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/ini.css'>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/<%= adminBase %>.css'>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/<%= css %>.css'>
	
</head>
                     
<body>
	<div class = 'header'></div>
	<div class = 'top-bar'></div>
	<div class = 'left-bar'>

		<div class = 'left-artical-manger'>
			<span>站点信息 <i id = 'site'> + </i></span>
		</div>
		<div class = 'left-artical-manger-content'>
			<ul class = 'left-artical-manger-content-list'>
				<a href = '/admin/adminIndex/dealRightMenuList/man/1/'>
					<li>管理员账号</li>
				</a>
				<a href = '/admin/adminIndex/dealRightMenuList/status'>
					<li>运行状态</li>
				</a>
				<li>日志统计</li>
				<li>站点流量</li>
				<li>数据库状态</li>
			</ul>
		</div>

		<div class = 'left-artical-manger'>
			<span>文章管理 <i id = 'artical'> + </i></span>
		</div>
		<div class = 'left-artical-manger-content'>
			<ul class = 'left-artical-manger-content-list'>
				<a href = '/admin/adminIndex/dealRightMenuList/art/1/'>
					<li>文章列表</li>
				</a>
				<li>文章分类</li>
				<li>文章评论</li>
				<li>文章统计</li>
			</ul>
		</div>

		<div class = 'left-artical-manger'>
			<span>图片管理 <i id = 'img'> + </i></span>
		</div>
		<div class = 'left-artical-manger-content'>
			<ul class = 'left-artical-manger-content-list'>
				<li>图片列表</li>
				<li>图片统计</li>
				<li>图片完整性检查</li>
			</ul>
		</div>

		<div class = 'left-artical-manger'>
			<span>留言管理 <i id = 'message'> + </i></span>
		</div>
		<div class = 'left-artical-manger-content'>
			<ul class = 'left-artical-manger-content-list'>
				<a href = '/admin/adminArtical/deal/words/1'>
					<li>文章评论</li>
				</a>
				<a href = '/admin/adminArtical/deal/tellMeWords/1'>
					<li>留言</li>
				</a>
			</ul>
		</div>

		<div class = 'left-artical-manger'>
			<span>其他选项<i id = 'else'> + </i></span>
		</div>
		<div class = 'left-artical-manger-content'>
			<ul class = 'left-artical-manger-content-list'>
				<a href = '/admin/adminIndex/dealRightMenuList/else'>
					<li>博客设置1</li>
				</a>
				<a href = '/admin/adminIndex/dealRightMenuList/else2'>
					<li>图片设置</li>
				</a>
				<a href = ''>
					<a href = '/admin/adminIndex/dealRightMenuList/else3'>
					<li>Who am i 页面设置</li>
					</a>
				</a>
				<a href = ''>
					<a href = '/admin/adminIndex/dealRightMenuList/else4'>
					<li>Tell me 页面设置</li>
					</a>
				</a>
			</ul>
		</div>

	</div>
	<div class = 'content'>
		