<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel = 'stylesheet' type = 'text/css' href = '/css/ini.css'>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/emailReSetPwd.css'>
</head>

                              
<body>
	<div class = "form-alert"></div>
		<form action = "" method = "POST">
			<div class = "input-group">
				<p>重置密码</p>
				<ul>
				<li><label>Username:</label><br /><input type = "text" name = "username" id = "username"></li>
				<li><label>Password:</label><br /><input type = "text" name = "password" id = "password"></li>
				<li><label>Password:</label><br /><input type = "text" name = "rePassword"></li>
				<li><input type = "submit" value = "Submit"></li>
				</ul>
			</div>
		</form>
</body>