<div class = 'content-artical-comment'>
	<div class = 'content-artical-comment-content'>
		<span class = 'content-artical-comment-title'>Leave a Reply</span>
		<form action = '' method = 'POST'>
			<a name = 'addReplay'></a>
			<div class = 'content-artical-btn-group'>
				<label for = 'author'>
					Author:
				</label> 
				<input type = 'text' id = 'author' class = 'input' name = 'author'>
			</div>
			<div class = 'content-artical-btn-group'>
				<label for = 'email'>
					Email:  
				</label>&nbsp;
				<input type = 'text' id = 'email' class = 'input' name = 'email'>
			</div>
			<textarea class = 'content-artical-textarea' name = 'content'></textarea>
			<input type = 'submit' value = 'submit' class = 'submit'>
		</form>
	</div>
</div>