.button {
	width: 60px;
	height: 24px;
	background-color: #fff;
	border:1px solid black;
	margin-left: 2%;
	margin-bottom: 20px;
}

.about-me-content {
	width: 98%;
	margin-top: 30px;
	margin-left: 1%;
	float: left;
}

.about-me-show {
	width: 70%;
	margin-left: 15%;
	border: 1px solid black;
	border-radius: 5px;
}

.about-me-show-title {
	font-size: 24px;
	margin: 20px;
}

.about-me-show-content {
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 30px;
	padding-bottom: 30px;
}

.about-me-title {
	margin-left: 150px;
	width: 160px;
	height: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px; 
}

.about-me-editor {
	padding-left: 15%;
	height: 200px;
	margin-bottom: 20px;
}

.form-submit {
	margin-top: 20px;
	margin-left: 38%;
}


.form-title input {
	padding-left: 1%;
	height: 18px;
}