i {
	font-weight: bold;
	font-style:normal;
}

.input {
	width: 240px;
	height: 21px;
	padding-left: 8px;
	padding-right: 8px;
}

.submit {
	width: 80px;
	height: 29px;
	background-color: #E5E5E5;
	border: 1px solid #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	border-radius: 4px;
}

.division-line {
	width: 90%;
	height: 2px;
	background-color: #E5E5E5;
	margin-top: 65px;
	margin-left: 5%;
}

.content {
	width: 100%;
	float: left;
}

.content-artical {
	width: 70%;
}

.content-artical-artical {
	width: 85%;
	margin-left: 15%;
	border-radius: 5px;
	border: 1px solid black;
	float: left;
}

.content-artical-header {
	margin-top: 25px;
	padding-left: 5%;
}

.content-artical-header-title {
	font-size: 25px;
	font-weight: bold;
}

.content-artical-header-meg {
	font-size: 16px;
	margin-top: 15px;
	display: block;
}

.content-artical-content {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 5%;
	padding-right: 5%;
	overflow: hidden;
}

.content-artical-content img{
	max-width: 100%;
}


.content-artical-public {
	width: 90%;
	margin-top: 45px;
	margin-bottom: 45px;
	margin-left: 5%;
}

.content-artical-public-content {
	margin-left: 5%;
	font-size: 16px;
}

.content-artical-public-content li {
	padding-top: 8px;
}

.content-artical-public-content a {
	color: #0090D3;
	text-decoration: none;
}

.content-artical-public-content a:hover {
	border-bottom: 2px dotted blue;
}

.content-artical-public-title {
	font-size: 24px;
	font-weight: bold;
}

.content-artical-replay {
	width: 100%;
}

.content-artical-replay-block {
	width: 100%;
}

.content-artical-replay-img-all {
	padding-left: 5%;
	float: left;
}

.content-artical-replay-img {
	margin-top: 25px;
	width: 43px;
	height: 43px;
	border-radius: 100px;
	border: 2px solid gray;
}

.content-artical-replay-content {
	border: 1px solid gray;
	width: 78%;
	margin-left: 15%;
	margin-top: 50px;
	border-radius: 5px; 
	background-color: #EBEBED;
}

.content-artical-replay-content-time {
	padding-top: 25px;
	padding-right: 15px;
	padding-left: 67%;
	font: gray;
}

.content-artical-replay-content-title {
	margin-top: -25px;
	padding-left: 30px;
	font-size: 22px;
	font-weight: bold;
}

.content-artical-replay-content-content {
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 16px;
	padding-bottom: 10px;
}

.content-artical-replay-replay {
	margin-left: 87%;
	margin-bottom: 15px;
	color: blue;
}

.content-artical-replaych-img-all {
	width: 70px;
	word-wrap: break-word;
}

.content-artical-replay-ch {
	width: 90%;
	margin-left: 5%;
}

.content-artical-replay-ch-title {
	font-size: 22px;
	font-weight: bold;
	margin-left: 9%;
	margin-top: 10px;
}

.content-artical-replay-ch-content {
	margin-left: 17%;
	position: relative;
	top: -70px;
	margin-right: 3%;
	border: 1px solid gray;
	border-radius: 5px;
}

.content-artical-replay-content-ch-time {
	float: right;
	padding-right: 8%;
	margin-top: -17px;
}

.content-artical-comment {
	width: 100%;
	margin-top: 30px;
}

.content-artical-comment-content {
	margin-bottom: 15px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 15px;
}

.content-artical-comment-title {
	font-size: 25px;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.content-artical-btn-group {
	padding-top: 5px;
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
}

.content-artical-textarea {
	width: 97%;
	height: 180px;
	padding: 8px;
	font-size: 14px;
}

.right-bar {
	margin-right: 11%;
	float: right;
	width: 16%;
}

.right-bar-img {
	width: 100%;
	height: 180px;
	background-color: #fff;
}

.right-bar-img-border {
	width: 100%;
	height: 100%;
	border: 2px solid #EEEEEE;
	position: relative;
}

.right-bar-img-size {
	width: 96%;
	height: 96%;
	margin-left: 2%;
	margin-top: 5px;
}

.right-bar-img-introduce {
	font-size: 20px;
	padding-left: 17%;
	padding-top: 10%;
}

.right-bar-content {
	margin-top: 50%;
	float: left;
	width: 100%;
}

.right-bar-content li {
	margin-top: 15px;
}

.right-bar-content a {
	color: #0090D3;
}

.right-bar-content span {
	color: gray;
}

.right-bar-content a:hover {
	text-decoration: none;
	border-bottom: 2px dotted blue;
}

.right-bar-content-title {
	font-size: 24px;
	font-weight: bold;
}

.right-bar-fun {
	margin-top: 50px;

}

.right-bar-content-fun li {
	float: left;
	width: 50%;
	font-size: 15px;
}

.right-bar-content-fun a {
	color: black;
}

.footer {
	float: left;
	width: 100%;
	height: 150px;
	margin-top: 80px;
	background-color: #fff;
}

.footer-line {
	width: 82%;
	height: 2px;
	background-color: #d0d1d2;
	margin-left: 9%;
}

.footer-font {
	margin-left: -9%;
}

.footer-font li {
	margin-top: 50px;
	font-size: 18px;
	margin-left: 17%;
	float: left;
}

.footer-font a {
	color: blue;
}